\# Advanced MIcroeconomics Assignment

In [1]:
print('hello microeconomics')

hello microeconomics

In [11]:
API_KEY = "3ab13a0b04a2f09524d1289857ca3e0f"
API_URL = 'http://api.eia.gov/category/?api_key=YOUR_API_KEY_HERE&category_id=294392'

In [5]:
import requests
response = requests.get(API_URL)
print(response.status_code)

200

200 – OK. The request was successful. The answer itself depends on the method used (GET, POST, etc.) and the API specification.

204 – No Content. The server successfully processed the request and did not return any content.

301 – Moved Permanently. The server responds that the requested page (endpoint) has been moved to another address and redirects to this address.

400 – Bad Request. The server cannot process the request because the client-side errors (incorrect request format).

401 – Unauthorized. Occurs when authentication was failed, due to incorrect credentials or even their absence.

403 – Forbidden. Access to the specified resource is denied.

404 – Not Found. The requested resource was not found on the server.

500 – Internal Server Error. Occurs when an unknown error has occurred on the server.

In [6]:
print(response.text)

{"request":{"category_id":"294392","command":"category"},"data":{"error":"invalid or missing api_key. For key registration, documentation, and examples see https:\/\/www.eia.gov\/developer\/"}}

In [10]:
import json
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)
jprint(response.json())

ModuleNotFoundError: No module named 'urllib2'

In [ ]:
# prima che capusco come fare questa roba passa un anno quindi lo faccio con i file

# Data Management

## Import Data

In [3]:
import pandas as pd

In [25]:
data_location = 'C:/Users/User/Desktop/university/advanced microeconomics/project/analysis/data'

# file extensions
excel_old = '.xls'
excel = '.xlsx'

# file name
futures_data_name = '/'+'PET_PRI_FUT_S1_D'
crude_oil_production_name = '/'+ 'Table_3.1_Petroleum_Overview'


# import data
futures_data = pd.read_excel(data_location + futures_data_name + excel_old, sheet_name = 'Data 1', header = 2)
crude_oil_production_data = pd.read_excel(data_location + crude_oil_production_name + excel, sheet_name = 'Monthly Data', header = 10)

## Select Data

### retrive only useful columns

In [26]:
crude_oil_production_total = crude_oil_production_data[['Month','Crude Oil Production, Total']]
crude_oil_production_total.head()

       Month Crude Oil Production, Total
0        NaT  (Thousand Barrels per Day)
1 1973-01-01                     9175.93
2 1973-02-01                     9395.21
3 1973-03-01                     9271.93
4 1973-04-01                      9291.9

In [27]:
futures_data.head()

,Date,"Cushing, OK Crude Oil Future Contract 1 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 2 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 3 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 4 (Dollars per Barrel)"
0,1983-03-30,NaN,NaN,29.35,NaN
1,1983-03-31,NaN,NaN,29.24,NaN
2,1983-04-04,29.44,NaN,29.10,NaN
3,1983-04-05,29.71,NaN,29.35,NaN
4,1983-04-06,29.92,NaN,29.50,NaN

In [28]:
futures_3_months = futures_data[['Date','Cushing, OK Crude Oil Future Contract 4 (Dollars per Barrel)']]
futures_3_months

           Date  Cushing, OK Crude Oil Future Contract 4 (Dollars per Barrel)
0    1983-03-30                                                NaN
1    1983-03-31                                                NaN
2    1983-04-04                                                NaN
3    1983-04-05                                                NaN
4    1983-04-06                                                NaN
...         ...                                                ...
9514 2021-02-17                                              60.18
9515 2021-02-18                                              59.67
9516 2021-02-19                                              58.66
9517 2021-02-22                                              60.90
9518 2021-02-23                                              60.37

[9519 rows x 2 columns]

### retrieve only useful timespan

In [29]:
futures_3_months.dtypes

Date                                                            datetime64[ns]
Cushing, OK Crude Oil Future Contract 4 (Dollars per Barrel)           float64
dtype: object

In [38]:
start_date = pd.to_datetime('2019-02-23', utc= False)
end_date = pd.to_datetime('2021-02-23', utc= False)
crude_oil_production_total[(crude_oil_production_total['Month'] > start_date) & (crude_oil_production_total['Month'] <= end_date)]

         Month Crude Oil Production, Total
555 2019-03-01                     11937.3
556 2019-04-01                     12134.7
557 2019-05-01                     12163.2
558 2019-06-01                     12087.5
559 2019-07-01                     11819.1
560 2019-08-01                     12424.8
561 2019-09-01                     12495.2
562 2019-10-01                     12672.6
563 2019-11-01                     12859.8
564 2019-12-01                     12802.1
565 2020-01-01                     12754.8
566 2020-02-01                     12745.6
567 2020-03-01                     12737.1
568 2020-04-01                       12010
569 2020-05-01                     10018.8
570 2020-06-01                     10442.1
571 2020-07-01                     10972.7
572 2020-08-01                     10583.8
573 2020-09-01                     10870.5
574 2020-10-01                     10431.8
575 2020-11-01                       11124
576 2020-12-01                     11009.7
577 2021-01-01                     10954.8

In [36]:
start_date = pd.to_datetime('2019-02-23', utc= False)
end_date = pd.to_datetime('2021-02-23', utc= False)
futures_3_months[(futures_3_months['Date'] > start_date) & (futures_3_months['Date'] <= end_date)]

           Date  Cushing, OK Crude Oil Future Contract 4 (Dollars per Barrel)
9015 2019-02-25                                              56.88
9016 2019-02-26                                              57.01
9017 2019-02-27                                              58.33
9018 2019-02-28                                              58.49
9019 2019-03-01                                              57.11
...         ...                                                ...
9514 2021-02-17                                              60.18
9515 2021-02-18                                              59.67
9516 2021-02-19                                              58.66
9517 2021-02-22                                              60.90
9518 2021-02-23                                              60.37

[504 rows x 2 columns]

## perform linear regression